 <form class="formGroupStyle" [formGroup]="addUserForm">
   <div formGroupName="userData">
    <!-- username -->
    <div class="form-group">
      <label for="exampleInputEmail1">שם משתמש</label>
      <input type="email" class="form-control" placeholder="הקלד שם משתמש" formControlName="username">
    </div>
    <!-- password1 -->
    <div class="form-group">
      <label for="exampleInputPassword1">סיסמה</label>
      <input type="password" class="form-control" placeholder="הקלד סיסמה" formControlName="password1">
    </div>
    <!-- password2 -->
    <div class="form-group">
        <label for="exampleInputPassword1">אימות סיסמה</label>
        <input type="password" class="form-control" placeholder="הקלד סיסמה בשנית" formControlName="password2">
    </div>
    <!-- isadmin -->
      <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="admin">
          <label class="form-check-label" for="exampleCheck1">?אדמין</label>
        </div>
        <div class="errors" *ngIf="passwordsEqualsValid">
          <label style="color: red;">סיסמאות צריכות להיות שוות.</label>
        </div>
        <div class="errors" *ngIf="userNamePatternValid">
            <label style="color: red;">שם משתמש חייב להכיל רק אותיות באנגלית ומספרים.</label>
          </div>
        </div>
        
    <div style="text-align: right;">
      <button type="button" class="btn btn-primary" (click)="AddUser()">הוסף משתמש</button>
    </div>
  </form>
