<nav style="background-color: lightseagreen">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left">
      <i class="material-icons">cloud</i>Dotnet Mob App</a>
      <ul class="right hide-on-med-and-down"> 
          <li><a (click)="Logout()">התנתק</a></li>
      </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="UserManagment()">ניהול משתמשים</a></li>
      <li><a (click)="InformationPages()">דפים אינפורמטיבים</a></li>
      <li><a (click)="CustomerManagment()">ניהול לקוחות</a></li>
    </ul>
  </div>
</nav>